[Unit]
Description=Your Flask App
After=network.target

[Service]
ExecStart=/usr/local/bin/gunicorn -w 4 -b 0.0.0.0:5000 app:app
WorkingDirectory=/home/ec2-user/flask-app
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target